.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.5fr .3fr;
    height: 100vh;
    grid-template-areas: "nav nav nav nav"
    "sidebar main main main"
    "sidebar left left right"
    "sidebar footer footer footer";
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
nav{
    grid-area: nav;
    background-color: indianred;
}
main{
    grid-area: main;
    background-color: khaki;
}
#sidebar{
    grid-area: sidebar;
    background-color: lawngreen;
}
#left{
    grid-area: left;
    background-color: lightcoral;
}
#right{
    grid-area: right;
    background-color: lightseagreen;
}
footer{
    grid-area: footer;
    background-color: mediumspringgreen;
}

@media only screen and (max-width:750px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 2fr 1.5fr 1.5fr 1fr 0.6fr;
        grid-template-areas: "nav"
        "sidebar"
        "main"
        "left"
        "right"
        "footer";
    }
    }
