.box{
    height: 150px;
    width: 150px;
    background-color: lightcoral;
    position: relative;
    animation-name: myanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes myanimation{
    0%{background-color: lime;left: 0px;top: 0px;border-radius: 0%;}
    25%{background-color: red;left: 300px;top: 0px;border-radius: 0% 50% 0% 0%;}
    50%{background-color: blue;left: 300px;top: 300px;border-radius: 0% 50% 50% 0%;}
    75%{background-color: green;left: 0px;top: 300px;border-radius: 0% 50% 50% 50%;}
    100%{background-color: pink;left: 0px;top: 0px;border-radius: 50%;}
}